<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript"
            src="$(contextRoot)/static/items/bb-my-example-app-ang/dist/runtime.js"></script>
    <script type="text/javascript"
            src="$(contextRoot)/static/items/bb-my-example-app-ang/dist/polyfills.js"></script>
    <script type="text/javascript"
            src="$(contextRoot)/static/items/bb-my-example-app-ang/dist/main.js"></script>
    <link type="text/css" rel="stylesheet"
          href="$(contextRoot)/static/items/bb-my-example-app-ang/dist/styles.css"/>

        {{!-- <script type="text/javascript" 
                src="$(contextRoot)/static/items/bb-my-example-app-ang/dist/{{locale}}/inline.bundle.js"></script>
        <script type="text/javascript" 
                src="$(contextRoot)/static/items/bb-my-example-app-ang/dist/{{locale}}/polyfills.bundle.js"></script>
        <script type="text/javascript" 
                src="$(contextRoot)/static/items/bb-my-example-app-ang/dist/{{locale}}/main.bundle.js"></script>
        <link type="text/css" rel="stylesheet" 
                href="$(contextRoot)/static/items/bb-my-example-app-ang/dist/{{locale}}/styles.bundle.css"/> --}}
</head>
<body>
<bb-my-example-app></bb-my-example-app>
</body>
</html>
